*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navbar-brand{
    background-color: black;
    font-style: oblique solid  ;
}
.nav-link:active{
    float: right;
    color: black;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
}
.navbar-nav{
    margin-left: auto;
}
.nav-link{
    float: right;
    color: black;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
}
.img-right {
    margin-left: 10px; /* Optional: Adds spacing between content and image */
  }

.nav-link:hover{
    color: white;
    background-color: black;
}

/* main section */



.main h3{
    font-size: 4.5rem;
    font-weight: 700;
    ;
}
.main h6{
    padding-top: 15px;
    font-size: 1.7rem;
    text-transform: uppercase;
    line-height: 1;
    border-bottom: 3px solid rgb(200, 10, 100);
    width: 50%;
    
}
.btn1 , .btn2{
    padding-top: 10px;
    height: 55px;
    width: 138px;
    background-color: rgb(200, 10, 100);
    color: white;
    outline: none;
    border: none;
    font-weight: bold;
    border-radius: 5px;
}
.btn1:hover{
    background-color: white;
    transition: 0.5s;
    color: rgb(200, 10, 100);
    border: 1px solid rgb(200, 10, 100);
    border-radius: 5px;
}
.btn2:hover{
    background-color: white;
    transition: 0.5s;
    color: rgb(200, 10, 100);
    border: 1px solid rgb(200, 10, 100);
    border-radius: 5px;
}

.card{
border: none;
outline: none;
width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}
.card p{
    color: gray;
    
}
.circle{
    height: 70px;
    width: 70px;
    background-color: rgb(236, 224, 224);
    color: black;
    padding: 12px;
    font-size: 30px;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 20px;
}
.card:hover .circle{
background-color: black;
color: gray;
transition: 0.5s;
}
/* About */

.control ul li{
    list-style: none;
    background-color: black;
    padding: 5px 15px;
    color: white;
    display: inline-block;
    cursor: pointer;
    letter-spacing: 2px ;

}
item{
    position: relative;
}
.item span{
     position: absolute;
     top: 40%;
     left: 45%;
     font-size: 40px;
     color: black;
     cursor: pointer;
}
.margin-top-20 {
    margin-top: 20px !important;
}
h6{
    font-size: 16px;
    font-weight: normal;
    color: #101010;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}
